* {
  font-size: 17px;
  font-family: "'Geist Mono', 'Berkeley Mono', monospace";
  font-weight: 400;
}

window#waybar {
  background: rgba(15, 15, 18, 0.3);
  color: #cdd6f4;
}

/*#workspaces button {
  color: #2f354a;
  box-shadow: inset 0 -3px transparent;
  padding: 0 3px;
  margin-left: 0.1em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: #bdc6f4;
  padding-left: 1px;
  padding-right: 12px;
  margin-left: 0em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button:hover {
  color: #7a95c9;
  transition: all 0.3s ease-in-out;
}*/

#workspaces {
  padding: 4px 5px;
  border-radius: 24px;
  border: solid 0px #cdd6f4;
}
#workspaces button {
  padding: 0px 2px;
  margin: 0px 2px;
  border-radius: 24px;
  color: #abaec7;
  background-color: #2f354a;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #131313;
  background-color: #cdd6f4;
  border-radius: 24px;
  min-width: 56px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: #c4b4c7;
  border-radius: 24px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#bluetooth {
  padding: 0px 10px;
  background-color: #08080a;
}

#cpu {
  color: #f38ba8;
  border-radius: 12px 0px 0px 12px;
}

#memory {
  color: #ebcb8b;
  border-radius: 0px 12px 12px 0px;
  margin-right: 8px;
}

#mpris {
  color: #cad3f5;
  margin-left: 8px;
  margin-right: 40px;
}

#clock {
  color: #cdd6f4;
  padding: 0 5px;
  border-radius: 12px;
  margin-left: 8px;
  background-color: #08080a;
  border: 1px solid #5394c4;
}

#tray {
  border-radius: 10px;
  margin-right: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#network {
  color: #cba6f7;
  border-radius: 10px;
  margin-right: 8px;
}

#temperature {
  color: #d5c0bc;
  margin-right: 8px;
  border-radius: 0px 10px 10px 0px;
}

#battery {
  color: #c0caf5;
  border-radius: 10px;
  border-radius: 10px 0px 0px 10px;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #46a65b;
}

@keyframes blink {
  to {
    background-color: rgba(24, 24, 32, 0.8);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #a23232;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
  color: #a6da95;
}

#pulseaudio {
  color: #b4befe;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
}

#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  padding: 1px 10px;
}

#custom-power {
  margin-right: 8px;
}
